.post {
  background-color: var(--clr-primary-12);
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  margin: 30px 40px 50px 40px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.post-header-author {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.post-header-author span {
  color: grey;
  font-size: 15px;
}
.post-body {
  display: flex;
  justify-content: center;
}
.post-body img {
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  width: 98%;
}
.post-footer-icons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 20px 0px;
}
.post-footer-icons div:hover {
  cursor: pointer;
}
